//Variables

$screen: 800px;

$couleur: (
    primaire: #9356dc,
    secondaire: #ff79da,
    tertiaire: #99e2d0,
    fondclair: #f5f5f5,
    fondsombre: #353535,
    ombre: rgba(0, 0, 0, 0.18)
);

//General
* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
}

//Mixin

@mixin like {
    font-size: 24px;           
    .far {
        color: grey;
        opacity: 1;
        transition: opacity 400ms;
    }
    .fas {
        color: map-get($couleur, primaire);
        margin-right: -29.75px;
        opacity: 0;
        transition: opacity 1200ms;
    }
    input[type="checkbox"] { display: none; }
    input[type="checkbox"]:checked ~ .far { opacity: 0; }
    input[type="checkbox"]:checked ~ .fas { opacity: 1; }
}

//Header

header {
    display: flex;
    text-align: center;
    align-items: center;
    height: 63px;
    position: relative;
    box-shadow: 0px 3px 3px map-get($couleur, ombre);
    a {
        position: absolute;
        font-size: 22px;
        margin-left: 23px;
        color: black;  
    }
    h1 {
        font-size: 25px;
    }    
}

//Body

//Spinner//////
    @keyframes onload { 
        from { 
            opacity: 1;
            height: 100%;
            width: 100%; 
            position: fixed;
        }
        to { 
            opacity: 1;
            height: 100%;
            width: 100%;
            position: fixed;
        } 
    } 
    .onload {
        animation: onload 3s;
        background-color: map-get($couleur, fondclair);
        position: absolute;
        top: 0;
        height: 0;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    @keyframes spin { 	
        to { 
            transform: rotate(1turn); 
        } 
    }  
    .progress { 	
        position: relative; 	
        display: inline-block; 	
        width: 5em; 	
        height: 5em; 	
        margin: 120px; 	
        font-size: 12px; 	
        text-indent: 999em; 	
        overflow: hidden; 	
        animation: spin 250ms infinite steps(9); 
    }  
    .size.progress { 	
        font-size: 24px; 
    }  
    .progress:before, .progress:after, .progress > div:before, .progress > div:after { 	
        content: ''; 	
        position: absolute; 	
        top: 0; 	
        left: 2.25em; // (container width - part width)/2  
        width: .5em; 	
        height: 1.5em; 	
        border-radius: .2em; 	
        background: #fca8e4; 	
        box-shadow: 0 3.5em #fca8e4; // container height - part height 	
        transform-origin: 50% 2.5em; // container height / 2 
    }  
    .progress:before { 	
        background: #9356dc; 
    }  
    .progress:after { 	
        transform: rotate(-45deg); 	
        background: #a45bfd; 
    }  
    .progress > div:before { 	
        transform: rotate(-90deg); 	
        background: #b275fd; 
    }  
    .progress > div:after { 	
        transform: rotate(-135deg); 	
        background: #c191fd; 
    }
///////////////////////////////////////:

.entete {
    &__image {
        position: relative;
        background-repeat: no-repeat;
        background-position: bottom ;
        background-size: cover;
        height: 290px;
        @media only screen and (min-width: $screen) {
            height: 430px; 
        }
        > div {
            margin-bottom: -1px;
            position: absolute;
            bottom: 0;
            background-color: map-get($couleur, fondclair);
            height: 37px;
            width: 100%;
            border-radius: 37px 37px 0 0;
        }
    }
    &__titre {
        box-sizing: border-box;
        background-color: map-get($couleur, fondclair);
        > h1 {
            line-height: 25px;
            font-size: 25px;
            max-width: 349px;
            padding-left: 7px;
            box-sizing: border-box;
        }
        &--like {
            float: right;
            margin-right: 26px;
            @include like;
        }
    }
}

@keyframes anime { 
    from { 
        opacity: 0;
        margin-top: 25px;
    }
    to { 
        opacity: 1;
    } 
} 

.menu {
    background-color: map-get($couleur, fondclair);
    padding-bottom: 10px;
    @media only screen and (min-width: $screen) {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .bloc {
        :nth-child(3) { animation-delay: 0.2s; }
        :nth-child(4) { animation-delay: 0.4s; }
        :nth-child(5) { animation-delay: 0.6s; }
        :nth-child(6) { animation-delay: 0.8s; }
        padding: 46px 10px 0 10px;
        h5 {
            padding-left: 7px;
            box-sizing: border-box;
            max-width: 349px;
            font-size: 16px;
            @media only screen and (min-width: $screen) {
                width: 349px; 
            } 
        }
        &__barre {
            box-sizing: border-box;
            max-width: 349px;
            margin-top: 6px;
            > p {
                max-width: 40px;
                height: 3px;  
                margin-left: 7px; 
                background-color: map-get($couleur, tertiaire);
            }
        }
        &__carte {
            animation:  1s  ease-in-out both anime;
            box-sizing: border-box;
            max-width: 349px;
            height: 68px;
            background-color: white;
            border-radius: 12px;
            margin-top: 14px;
            box-shadow: 0px 3px 10px map-get($couleur, ombre); 
            overflow: hidden;  //pour cacher le &--check à l'exterieur de la div
            padding-left: 11px;
            &:hover {
                .bloc__carte--check {
                    margin-right: 0px;
                    margin-left: 12px;
                    div {
                        transform: rotate(360deg);
                    }
                }
            }


            h6 {
                margin-top: 13px;
                display: block;
                max-width: 340;
                font-size: 17px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            div:last-child {
                margin-top: 5px;
                p {
                    font-size: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                a {
                    float: right;
                    font-weight: bold;
                    font-size: 15px;
                    margin-left: 12px;
                }
            }
            &--check {
                float: right;
                box-sizing: border-box;
                width: 59px;
                height: 68px;
                background-color: map-get($couleur, tertiaire);
                border-radius: 0 12px 12px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: 500ms;
                margin-right: -59px;
                margin-left: 24px;
                
                div {
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    transition: 500ms;
                    i {
                        color: map-get($couleur, tertiaire);
                        font-size: 12px;
                    }
                } 
            }
        }
    }  
}

.commander {
    background-color: map-get($couleur, fondclair);
    display: flex;
    padding: 41px 10px 72px 10px;
}

.localisation {
    display: flex;
    align-items: center; 
    height: 50px;
    background-color: rgb(233, 231, 231);

    i {
        font-size: 17px;
        margin-right: 10px;
    }
    input[type="text"], input[type="text"]::placeholder {
        font-size: 17px;
        border: none;
        color: black;
        background-color: rgb(233, 231, 231);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 120px;
        text-overflow: ellipsis;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 43px 20px 57px 20px;
    background-color: map-get($couleur, fondclair);

    > h2 {
        padding: 0 50px 0 50px;
    }
    > a {
        margin-top: 21px;
        margin-bottom: 31px;
    }
}


.button1 {
    background: linear-gradient(map-get($couleur, secondaire),map-get($couleur, primaire)) ;
    opacity: 1;
    &:hover {
        opacity: 1;
    }
}
.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    min-width: 186px;
    border-radius: 25px;
    padding: 0 22px 0 22px;
    background: linear-gradient(map-get($couleur, secondaire),map-get($couleur, primaire)) ;
    box-shadow: 0px 3px 10px map-get($couleur, ombre);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 1;
    transition: 500ms;
    &:hover {
        box-shadow: 0px 3px 13px rgb(122, 122, 122);
        opacity: 0.7;
    } 
}

.fonction {
    padding: 59px 20px 68px 20px;

    h2 {
        box-sizing: border-box;
        max-width: 335px;
        margin-bottom: 33px;
        @media only screen and (min-width: $screen) {
            display: flex;
            justify-content: center;  
        }
    }
    .align {
        box-sizing: border-box;
        max-width: 335px;
        margin-top: 23px;
        padding-left: 12px; //compense le margin -12 de &__bulle

        .step {
            box-sizing: border-box;
            height: 75px;
            border-radius: 22px;
            background-color: map-get($couleur, fondclair);
            box-shadow: 0px 3px 10px map-get($couleur, ombre);
            display: flex;

            &__bulle {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: map-get($couleur, primaire);
                color: white;
                display: flex;
                align-items: center;
                margin: auto 0 auto -12px;
            }
            &__icone {
                font-size: 20px;
                color: grey;
                position: relative;
                width: 25px;
                margin: auto 0 auto 21px;
                display: flex;
            }
            &__titre {
                margin: auto 0 auto 20px;
            }
            &:hover {
                background: #f4edfd ;
                .step__icone {
                    color: map-get($couleur, primaire);
                }
            }
        }
    }
}

.restau {
    background-color: map-get($couleur, fondclair);
    padding: 59px 20px 64px 20px;

    .flex {
        @media only screen and (min-width: $screen) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;  
        }
        h2 {
            @media only screen and (min-width: $screen) { 
                width: 100%; 
                margin-bottom: 15px;
                display: flex;
                justify-content: center; 
            }
            @media only screen and (max-width: $screen) { max-width: 335px; }
        }
        .carte {
            position: relative;
            box-sizing: border-box;
            max-width: 335px;
            @media only screen and (min-width: $screen) {
                width: 335px; 
                margin: 10px;  
            }
            height: 251px;
            margin-top: 18px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 3px 10px map-get($couleur, ombre);

            &__link {
                position: absolute;
                display: block;
                margin: 0;
                background-color: rgba(0, 0, 0, 0.0);
                width: 100%;
                height: 251px;
                border-radius: 10px;
            }
            &__image {
                height: 174px;
                border-radius: 10px 10px 0px 0px;
                background-repeat: no-repeat;
                background-position: bottom ;
                background-size: cover;

                &--new {
                    margin-top: 13px;
                    margin-right: -35px;
                    float: right;
                    width: 74px;
                    padding-left: 10px;
                    height: 29px;
                    border-radius: 2px;
                    background-color: map-get($couleur, tertiaire);
                    color: darken($color: map-get($couleur, tertiaire), $amount: 50%);
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
                &--like {
                    float: right;
                    margin-top: 197px;
                    margin-right: 25px;
                    @include like;
                }
            }
            &__titre {
                height: 77px;
                display: table-cell;
                vertical-align: middle;
                padding-left: 14px;
                line-height: 140%;
            }  
        }
    }   
}

//Footer

footer {
    background-color: map-get($couleur, fondsombre);
    color: map-get($couleur, fondclair);
    padding: 26px 20px 38px 20px;
    font-weight: bold;
    letter-spacing: 1px; 

    ul {
        list-style: none;
        box-sizing: border-box;
        max-width: 335px;
        line-height: 160%; 
        @media only screen and (min-width: $screen) {
            margin-left: 30px;  
        }  
        
        a {
            text-decoration: none;
            color: map-get($couleur, fondclair);
        }
        h1 {
            margin-bottom: 16px;
            font-size: 21px;
        }
        i {
            width: 20px;
            &.fa-utensils { font-size: 13px; }
            &.fa-hands-helping { font-size: 10px; }
        } 
    }
}