* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  height: 63px;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
}
header a {
  position: absolute;
  font-size: 22px;
  margin-left: 23px;
  color: black;
}
header h1 {
  font-size: 25px;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 120px;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation: spin 500ms infinite steps(8);
          animation: spin 500ms infinite steps(8);
}

.size.progress {
  font-size: 24px;
}

.progress:before, .progress:after, .progress > div:before, .progress > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2.25em;
  /* (container width - part width)/2  */
  width: 0.5em;
  height: 1.5em;
  border-radius: 0.2em;
  background: #fca8e4;
  box-shadow: 0 3.5em #fca8e4;
  /* container height - part height */
  transform-origin: 50% 2.5em;
  /* container height / 2 */
}

.progress:before {
  background: #9356dc;
}

.progress:after {
  transform: rotate(-45deg);
  background: #a45bfd;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #b275fd;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #c191fd;
}

.entete__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 290px;
}
@media only screen and (min-width: 800px) {
  .entete__image {
    height: 430px;
  }
}
.entete__image > div {
  margin-bottom: -1px;
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  height: 37px;
  width: 100%;
  border-radius: 37px 37px 0 0;
}
.entete__titre {
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 1px 20px;
}
.entete__titre > h1 {
  line-height: 25px;
  font-size: 25px;
  max-width: 320px;
}
.entete__titre--like {
  position: relative;
  float: right;
  font-size: 24px;
}
.entete__titre--like .far {
  color: grey;
  transition: color 600ms;
}
.entete__titre--like .fas {
  margin-right: -29.75px;
  color: rgba(0, 0, 0, 0);
  transition: color 1200ms;
}
.entete__titre--like input[type=checkbox] {
  display: none;
}
.entete__titre--like input[type=checkbox]:checked ~ .far {
  color: rgba(0, 0, 0, 0);
}
.entete__titre--like input[type=checkbox]:checked ~ .fas {
  color: #9356dc;
}

.menu {
  background-color: #f5f5f5;
  padding-bottom: 10px;
}
@media only screen and (min-width: 800px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.menu .bloc {
  padding: 46px 10px 0 10px;
}
.menu .bloc h5 {
  padding-left: 0px;
  box-sizing: border-box;
  max-width: 349px;
  font-size: 16px;
}
@media only screen and (min-width: 800px) {
  .menu .bloc h5 {
    width: 349px;
  }
}
.menu .bloc__carte {
  box-sizing: border-box;
  max-width: 349px;
  height: 68px;
  background-color: white;
  border-radius: 12px;
  margin-top: 14px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
  padding-left: 11px;
  padding-top: 12px;
}
.menu .bloc__carte h6 {
  font-size: 16px;
  line-height: 24px;
}
.menu .bloc__carte a {
  font-size: 14px;
}
.menu .bloc__carte a:last-child {
  float: right;
  margin-right: 23px;
  font-weight: bold;
}

.commander {
  background-color: #f5f5f5;
  display: flex;
  padding: 41px 10px 72px 10px;
  width: 100%;
}

.localisation {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #e9e7e7;
}
.localisation i {
  font-size: 17px;
  margin-right: 10px;
}
.localisation input[type=text]::-moz-placeholder {
  font-size: 17px;
  border: none;
  color: black;
  background-color: #e9e7e7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 120px;
  text-overflow: ellipsis;
}
.localisation input[type=text]:-ms-input-placeholder {
  font-size: 17px;
  border: none;
  color: black;
  background-color: #e9e7e7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 120px;
  text-overflow: ellipsis;
}
.localisation input[type=text], .localisation input[type=text]::placeholder {
  font-size: 17px;
  border: none;
  color: black;
  background-color: #e9e7e7;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 120px;
  text-overflow: ellipsis;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 43px 20px 57px 20px;
  background-color: #f5f5f5;
}
.presentation > h2 {
  padding: 0 50px 0 50px;
}
.presentation > a {
  margin-top: 21px;
  margin-bottom: 31px;
}

.button {
  box-sizing: border-box;
  height: 50px;
  min-width: 186px;
  border-radius: 25px;
  padding: 0 22px 0 22px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
}
.button:hover {
  background: linear-gradient(#fb9ae0, #b67efa);
  box-shadow: 0px 3px 13px #adadad;
}

.fonction {
  padding: 59px 20px 64px 20px;
}
.fonction h2 {
  box-sizing: border-box;
  max-width: 335px;
  margin-bottom: 32px;
}
.fonction .step {
  margin-top: 23px;
  max-width: 335px;
  height: 98px;
  box-sizing: border-box;
  height: 75px;
  border-radius: 22px;
  background-color: #f5f5f5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
  display: flex;
}
.fonction .step__bulle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  margin: auto 0 auto -12px;
}
.fonction .step__icone {
  font-size: 20px;
  color: grey;
  position: relative;
  width: 25px;
  margin: auto 0 auto 21px;
  display: flex;
}
.fonction .step__titre {
  margin: auto 0 auto 20px;
}
.fonction .step:hover {
  background: #f4edfd;
}
.fonction .step:hover .step__icone {
  color: #9356dc;
}

.restau {
  background-color: #f5f5f5;
  padding: 59px 20px 64px 20px;
}
@media only screen and (min-width: 800px) {
  .restau .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 800px) {
  .restau .flex h2 {
    width: 100%;
    margin-left: 70px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .restau .flex h2 {
    max-width: 335px;
  }
}
.restau .flex .carte {
  position: relative;
  box-sizing: border-box;
  max-width: 335px;
  height: 251px;
  margin-top: 18px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
}
@media only screen and (min-width: 800px) {
  .restau .flex .carte {
    width: 335px;
    margin: 10px;
  }
}
.restau .flex .carte__link {
  position: absolute;
  display: block;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 251px;
  border-radius: 10px;
}
.restau .flex .carte__image {
  height: 174px;
  border-radius: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.restau .flex .carte__image--new {
  margin-top: 13px;
  margin-right: -35px;
  float: right;
  width: 74px;
  padding-left: 10px;
  height: 29px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #1b6150;
  display: flex;
  text-align: center;
  align-items: center;
}
.restau .flex .carte__image--like {
  margin-top: 197px;
  margin-right: 25px;
  position: relative;
  float: right;
  font-size: 24px;
}
.restau .flex .carte__image--like .far {
  color: grey;
  transition: color 600ms;
}
.restau .flex .carte__image--like .fas {
  margin-right: -29.75px;
  color: rgba(0, 0, 0, 0);
  transition: color 1200ms;
}
.restau .flex .carte__image--like input[type=checkbox] {
  display: none;
}
.restau .flex .carte__image--like input[type=checkbox]:checked ~ .far {
  color: rgba(0, 0, 0, 0);
}
.restau .flex .carte__image--like input[type=checkbox]:checked ~ .fas {
  color: #9356dc;
}
.restau .flex .carte__titre {
  height: 77px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 14px;
  line-height: 140%;
}

footer {
  background-color: #353535;
  color: #f5f5f5;
  padding: 26px 20px 38px 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
footer ul {
  list-style: none;
  box-sizing: border-box;
  max-width: 335px;
  line-height: 160%;
}
@media only screen and (min-width: 800px) {
  footer ul {
    margin-left: 30px;
  }
}
footer ul a {
  text-decoration: none;
  color: #f5f5f5;
}
footer ul h1 {
  margin-bottom: 16px;
  font-size: 21px;
}
footer ul i {
  width: 20px;
}
footer ul i.fa-utensils {
  font-size: 13px;
}
footer ul i.fa-hands-helping {
  font-size: 10px;
}/*# sourceMappingURL=styles.css.map */