//General
* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
}

//Variables

$couleur: (
    primaire: #9356dc,
    primaireclaire: #b67efa,
    secondaire: #ff79da,
    secondaireclaire: #fb9ae0,
    tertiaire: #99e2d0,
    fondclair: #f5f5f5,
    fondsombre: #353535,
    ombre: rgba(0, 0, 0, 0.18)
);

//Header

header {
    display: flex;
    text-align: center;
    align-items: center;
    height: 63px;
    position: relative;
    box-shadow: 0px 3px 3px map-get($couleur, ombre);

    a {
        position: absolute;
        font-size: 22px;
        margin-left: 23px;
        color: black;  
    }

    h1 {
        font-size: 30px;
    }    
}

//Body


/////////Spinner test//////:
    @keyframes spin { 	
        to { 
            transform: rotate(1turn); 
        } 
    }  
    .progress { 	
        position: relative; 	
        display: inline-block; 	
        width: 5em; 	
        height: 5em; 	
        margin: 120px; 	
        font-size: 12px; 	
        text-indent: 999em; 	
        overflow: hidden; 	
        animation: spin 500ms infinite steps(9); 
    }  
    .small.progress { 	
        font-size: 6px; 
    }  
    .large.progress { 	
        font-size: 24px; 
    }  
    .progress:before, .progress:after, .progress > div:before, .progress > div:after { 	
        content: ''; 	
        position: absolute; 	
        top: 0; 	
        left: 2.25em; /* (container width - part width)/2  */ 	
        width: .5em; 	
        height: 1.5em; 	
        border-radius: .2em; 	
        background: #fca8e4; 	
        box-shadow: 0 3.5em #fca8e4; /* container height - part height */ 	
        transform-origin: 50% 2.5em; /* container height / 2 */ 
    }  
    .progress:before { 	
        background: #9356dc; 
    }  
    .progress:after { 	
        transform: rotate(-45deg); 	
        background: #a45bfd; 
    }  
    .progress > div:before { 	
        transform: rotate(-90deg); 	
        background: #b275fd; 
    }  
    .progress > div:after { 	
        transform: rotate(-135deg); 	
        background: #c191fd; 
    }

///////////////////////////////////////:

.localisation {
    display: flex;
    align-items: center; 
    height: 50px;
    background-color: rgb(233, 231, 231);

    i {
        font-size: 18px;
        margin-right: 10px;
    }

    input[type="text"], input[type="text"]::placeholder {
        font-size: 18px;
        border: none;
        color:black;
        background-color: rgb(233, 231, 231);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 120px;
        text-overflow: ellipsis;
    }
}


.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 43px 20px 57px 20px;
    background-color: map-get($couleur, fondclair);

    > h2 {
        padding: 0 50px 0 50px;
    }

    > a {
        margin-top: 21px;
    }
}

.button {
    box-sizing: border-box;
    height: 50px;
    min-width: 186px;
    border-radius: 25px;
    padding: 0 22px 0 22px;
    margin-top: 31px;
    background: linear-gradient(map-get($couleur, secondaire),map-get($couleur, primaire)) ;
    box-shadow: 0px 3px 10px map-get($couleur, ombre);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
        background: linear-gradient(map-get($couleur, secondaireclaire),map-get($couleur, primaireclaire));
        box-shadow: 0px 3px 13px rgb(173, 173, 173);
    }
}


.fonction {
    padding: 59px 20px 64px 20px;

    h2 {
        box-sizing: border-box;
        max-width: 335px;
        margin-bottom: 32px;
    }

    .step {
        margin-top: 23px;
        max-width: 335px;
        height: 98px;
        box-sizing: border-box;
        height: 75px;
        border-radius: 22px;
        background-color: map-get($couleur, fondclair);
        box-shadow: 0px 3px 10px map-get($couleur, ombre);
        display: flex;

        &__bulle {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background-color: map-get($couleur, primaire);
            color: white;
            display: flex;
            align-items: center;
            margin: auto 0 auto -12px;
        }
        &__icone {
            font-size: 20px;
            color: grey;
            position: relative;
            width: 25px;
            margin: auto 0 auto 21px;
            display: flex;
        }
        &__titre {
            margin: auto 0 auto 20px;
        }
        &:hover {
            background: #f4edfd ;
            .step__icone {
                color: map-get($couleur, primaire);
            }
        }
    }
}




.restau {
    background-color: map-get($couleur, fondclair);
    padding: 59px 20px 64px 20px;

    h2 {
        box-sizing: border-box;
        max-width: 335px;
    }

    .carte {
        position: relative;
        box-sizing: border-box;
        max-width: 335px;
        height: 251px;
        margin-top: 18px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 3px 10px map-get($couleur, ombre);

        &__link {
            position: absolute;
            display: block;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.0);
            width: 100%;
            height: 251px;
            border-radius: 10px;
        }
        &__image {
            height: 174px;
            border-radius: 10px 10px 0px 0px;
            background-repeat: no-repeat;
            background-position: bottom ;
            background-size: cover;

            &--new {
                margin-top: 13px;
                margin-right: -35px;
                float: right;
                width: 74px;
                padding-left: 10px;
                height: 29px;
                border-radius: 2px;
                background-color: map-get($couleur, tertiaire);
                color: darken($color: map-get($couleur, tertiaire), $amount: 50%);
                display: flex;
                text-align: center;
                align-items: center;
            }
            &--like {
                position: relative;
                float: right;
                font-size: 24px;
                margin-top: 197px;
                margin-right: 25px;
                
                
                input[type="checkbox"] {
                    display: none;
                }
                .far {
                    color: grey;
                    transition: color 600ms;
                }
                input[type="checkbox"]:checked ~ .far {
                    color: rgba(0, 0, 0, 0.0);
                }
                .fas {
                    margin-right: -29.75px;
                    color: rgba(0, 0, 0, 0.0);
                    transition: color 1200ms;
                }
                input[type="checkbox"]:checked ~ .fas {
                    color: map-get($couleur, primaire);
                }
            }
        }
        &__titre {
            height: 77px;
            display: table-cell;
            vertical-align: middle;
            padding-left: 14px;
            line-height: 140%;
        }  
    }
}

//Footer

footer {
    background-color: map-get($couleur, fondsombre);
    color: map-get($couleur, fondclair);
    padding: 26px 20px 38px 20px;
    font-weight: bold;
    letter-spacing: 1px; 

    ul {
        list-style: none;
        box-sizing: border-box;
        max-width: 335px;
        line-height: 160%;   
        
        a {
            text-decoration: none;
            color: map-get($couleur, fondclair);
        }
    
        h1 {
            margin-bottom: 16px;
            font-size: 21px;
        }
    
        i {
            width: 20px;

            &.fa-utensils {
                font-size: 13px;
            }
    
            &.fa-hands-helping {
                font-size: 10px;
            }
        } 
    }
}