.localisation {
    display: flex;
    align-items: center; 
    height: 50px;
    background-color: rgb(233, 231, 231);

    i {
        font-size: 17px;
        margin-right: 10px;
    }
    input[type="text"], input[type="text"]::placeholder {
        font-size: 17px;
        border: none;
        color: black;
        background-color: rgb(233, 231, 231);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 120px;
        text-overflow: ellipsis;
    }
}
.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 43px 20px 57px 20px;
    background-color: map-get($couleur, fondclair);

    > h2 {
        padding: 0 50px 0 50px;
    }
    > a {
        margin-top: 21px;
        margin-bottom: 31px;
    }
}
.fonction {
    padding: 59px 20px 68px 20px;
    h2 {
        box-sizing: border-box;
        max-width: 335px;
        margin-bottom: 33px;
        @media only screen and (min-width: $screen) {
            display: flex;
            justify-content: center;  
        }
    }
    .align {
        box-sizing: border-box;
        max-width: 335px;
        margin-top: 23px;
        padding-left: 12px; //compense le margin -12 de &__bulle
        .step {
            box-sizing: border-box;
            height: 75px;
            border-radius: 22px;
            background-color: map-get($couleur, fondclair);
            box-shadow: 0px 3px 10px map-get($couleur, ombre);
            display: flex;
            &__bulle {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: map-get($couleur, primaire);
                color: white;
                display: flex;
                align-items: center;
                margin: auto 0 auto -12px;
            }
            &__icone {
                font-size: 20px;
                color: grey;
                position: relative;
                width: 25px;
                margin: auto 0 auto 21px;
                display: flex;
            }
            &__titre {
                margin: auto 0 auto 20px;
            }
            &:hover {
                background: #f4edfd ;
                .step__icone {
                    color: map-get($couleur, primaire);
                }
            }
        }
    }
}
.restau {
    background-color: map-get($couleur, fondclair);
    padding: 59px 20px 64px 20px;
    .flex {
        @media only screen and (min-width: $screen) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;  
        }
        h2 {
            @media only screen and (min-width: $screen) { 
                width: 100%; 
                margin-bottom: 15px;
                display: flex;
                justify-content: center; 
            }
            @media only screen and (max-width: $screen) { max-width: 335px; }
        }
        .carte {
            position: relative;
            box-sizing: border-box;
            max-width: 335px;
            @media only screen and (min-width: $screen) {
                width: 335px; 
                margin: 10px;  
            }
            height: 251px;
            margin-top: 18px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 3px 10px map-get($couleur, ombre);

            &__link {
                position: absolute;
                display: block;
                margin: 0;
                background-color: rgba(0, 0, 0, 0.0);
                width: 100%;
                height: 251px;
                border-radius: 10px;
            }
            &__image {
                height: 174px;
                border-radius: 10px 10px 0px 0px;
                background-repeat: no-repeat;
                background-position: bottom ;
                background-size: cover;

                &--new {
                    margin-top: 13px;
                    margin-right: -35px;
                    float: right;
                    width: 74px;
                    padding-left: 10px;
                    height: 29px;
                    border-radius: 2px;
                    background-color: map-get($couleur, tertiaire);
                    color: darken($color: map-get($couleur, tertiaire), $amount: 50%);
                    display: flex;
                    text-align: center;
                    align-items: center;
                }
                &--like {
                    float: right;
                    margin-top: 197px;
                    margin-right: 25px;
                    @include like;
                }
            }
            &__titre {
                height: 77px;
                display: table-cell;
                vertical-align: middle;
                padding-left: 14px;
                line-height: 140%;
            }  
        }
    }   
}